app = "future-academy"
primary_region = "ewr"

[build]
  dockerfile = "Dockerfile"

[env]
  PORT = "8080"
  APP_ENV = "production"
  APP_DEBUG = "false"

[[mounts]]
  source = "data"
  destination = "/app/database"

[http_service]
  internal_port = 8080
  force_https = true
  auto_stop_machines = true
  auto_start_machines = true
  min_machines_running = 1
  processes = ["app"]
